<div class="section">
    <div class="container">
        <div class="row">
            <!-- Product main img -->
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">
                    <div class="product-preview">
                        <img src="/assets/images/m1.jpg" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="" alt="">
                    </div>

                    <div class="product-preview">
                        <img src="" alt="">
                    </div>
                </div>
            </div>
            <!-- /Product main img -->

            <!-- Product details -->
            <div class="col-md-5" *ngFor="let productItem of productList">
                <div class="product-details">
                    <h2 class="product-name">{{productItem.ProductName}}</h2>
                    <div>
                        <h3 class="product-price">{{productItem.ProductPrice | currency:'INR':'symbol-narrow'}}</h3>
                        <span class="product-available">In Stock</span>
                    </div><br/>
                    <p>{{productItem.ProductDescription}}</p>
                    <p>{{productItem.ProductBrand}} </p>
                    <div class="add-to-cart" >
                        <button class="btn btn-sm btn-primary product-btn"><i class="glyphicon glyphicon-shopping-cart" 
                            (click)="AddToCart(p)"></i> Add to cart</button>
                    </div><br/>
                    <div class="add-to-wishlist">
                        <button class="btn btn-sm btn-info product-btn"><i class="glyphicon glyphicon-heart-empty"></i>Add to wishlist</button>
                    </div><br/>
                    <div class="add-to-compare">
                        <button>Add to Compare</button>
                    </div>                    

                </div>
            </div>
            <!-- /Product details -->
        </div>
    </div>
</div>
